Repository jfrog/jfrog-cli-artifactory, pull requests merged in 2025-02, with the labels that each got.

#40 Support getting git log since previous build
  artifactory/commands/buildinfo/addgit.go
  artifactory/commands/buildinfo/addgit_test.go
  artifactory/utils/vcs.go
  artifactory/utils/vcs_test.go
  go.mod
  go.sum
Labels: improvement, safe to test

#43 Updated dependencies
  go.mod
  go.sum
Labels: safe to test

#42 Migrate distribution commands definition from jfrog-cli
  cli/cli.go
  distribution/cli/cli.go
  distribution/cli/distribute.go
  distribution/cli/flags.go
  distribution/docs/releasebundlecreate/help.go
  distribution/docs/releasebundledelete/help.go
  distribution/docs/releasebundledistribute/help.go
  distribution/docs/releasebundlesign/help.go
  distribution/docs/releasebundleupdate/help.go
  evidence/cli/cli.go
  go.mod
  go.sum
Labels: safe to test

#45 Added Support to overwrite build info with same build number
  artifactory/commands/buildinfo/publish.go
  artifactory/commands/buildinfo/publish_test.go
  go.mod
  go.sum
Labels: feature request, safe to test
